<!-- Button trigger modal -->
<button type="button" class="btn btn-light btn-sm mr-3" data-toggle="modal" data-target="#taskModal">
  Add Task
</button>

<!-- Modal -->
<div class="modal fade" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="taskModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="taskTitle">Title</label>
          <input type="text" class="form-control" id="taskTitle" placeholder="Enter task title" name="taskTitle" #newTaskTitle>
        </div>
        <div class="form-group">
          <label for="taskDescription">Description</label>
          <textarea class="form-control" id="taskDescription" rows="3" name="taskDescription" #newTaskDescription></textarea>
        </div>
        <div class="form-group">
          <label for="taskEstimate">Estimate</label>
          <select class="form-control" id="taskEstimate" name="taskEstimate" #newTaskEstimate>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>5</option>
            <option>8</option>
            <option>13</option>
          </select>
        </div>
        <div class="form-group">
          <label for="taskAssignee">Assignee</label>
          <input type="text" class="form-control" id="taskAssignee" placeholder="Enter assignee's name" name="taskAssignee" #newTaskAssignee>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="createTask(newTaskTitle.value, newTaskDescription.value, newTaskEstimate.value, newTaskAssignee.value)">Create</button>
      </div>
    </div>
  </div>
</div>
